<div class="col-xs-6 col-md-4">
  <div>
    <img src="<%= current_user.banner_image %>"/>
  </div>
  <div>
    <h4> <%= current_user.name %> </h4><br/>
    <h6> @<%= current_user.screen_name %> </h6>
  </div>
  <img src="<%= current_user.image %>" />
  <br/>
  <span>
    Tweets:    <%= current_user.total_tweets %>
    Followers: <%= current_user.followers_count %>
    Following: <%= current_user.following_count %>
  </span>
</div>
