<div class="col-xs-6 col-md-4" id= "user-summary-box">
  <div id="banner-image">
    <img src="<%= current_user.banner_image %>" id="profile-bg"/>
  </div>
  <div class="pull-right">
    <span>
      <h4> <%= current_user.name %> </h4>
    </span>
    <span>
      <h6> @<%= current_user.screen_name %> </h6>
    </span>
  </div>
  <div class="pull-left">
    <img src="<%= current_user.image %>"  id="users-photo"/>
  </div>
  <br/>
  <span>
    Tweets:    <%= current_user.total_tweets %>
    Followers: <%= current_user.followers_count %>
    Following: <%= current_user.following_count %>
  </span>
</div>
